@import url("assets/css/fonts.css");

body {
  padding: 0;
  margin: 0;

  font: normal 12px "Lato", sans-serif;
}

.wrapper {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1000px;
}

.main-header {
  background: #2d303a;
  color: #fff;
}

.logo {
  padding: 0;
  margin: 0;

  font-size: 25px;
}