@font-face {
  font-family: 'Lato';
  src: local('Lato Light'), local('Lato-Light'),
       url('../fonts/latolight.woff2') format('woff2'),
       url('../fonts/latolight.woff') format('woff');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../fonts/latoregular.woff2') format('woff2'),
       url('../fonts/latoregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Bold'), local('Lato-Bold'),
       url('../fonts/latobold.woff2') format('woff2'),
       url('../fonts/latobold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Black'), local('Lato-Black'),
       url('../fonts/latoblack.woff2') format('woff2'),
       url('../fonts/latoblack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}